.fb-comments {
margin: 5px auto;
width: 550px;
display: block!important;
background: #1C1D1D;
}
#likeus {
    width: 800px;
    margin: 0 auto;
}
#likeus h1 {
    font-family: tahoma,verdana,sans-serif;
}
body

	{

		background: url('../img/bg.jpg');

		color:white;

	}

#header {

	margin: auto;

	height:60px;

	width:1024px;

	font-family: verdana;

	font-size: 14px;

}



#header a

	{

		color:white;

		text-decoration: none;

	}

#header a:hover

	{

		color:goldenrod;

	}	

#header .user

	{

		float: right;

		margin-top: 10px;

	}

#header .logo2

	{

		background-image: url('../img/logo.jpg');

		background-size: contain;

		width:260px;

		height:60px;

		float:left;

		border-radius: 7px;

	}	



#header .logo1

	{

		background-image: url('../img/logo.png');

		background-size: contain;

		margin-top: 5px;

		width:50px;

		height:50px;

		float:left;

		border-radius: 7px;

	}		

#question

{

	width:1024px;

	border-radius:7px;

	margin: auto;

	font-family: verdana;

	font-size: 150%;

	margin-top: 20px;

	padding:5px;

}



#image

	{	

		margin: auto;

		margin-top: 20px;

		width: 1024px;

	//	border:1px solid black;

		text-align: center;

	}



#image img

	{

		background-size: contain;

		margin:auto;	

		box-shadow: 1px 2px 3px 2px grey;

	

	}

#submit

	{	

		width:1024px;

	border-radius:7px;

	margin: auto;

	font-family: verdana;

	font-size: 150%;

	margin-top: 20px;

	padding:5px;

	text-align: center;

	margin-bottom: 50px;

	}

#submit input

	{

		height:35px;

		padding:5px;

		border-radius: 8px;

		text-align: center;

		display: inline-block;

	}	

.captcha

	{

		border-radius: 6px;

		height:35px;

		padding:5px;

		border-radius: 8px;

		text-align: center;

		display: inline-block;

		position: relative;

		top: 19px;

	}		



table

	{

		color:white;

		width :80%;

		font-size: 110%;

	}

th,td,tr

	{

		border:1px solid white;

		text-align: center;

		padding:4px;

	}	

th	{

		color:orange;

}	



ul

	{

		color:white;

		width :80%;

		font-size: 100%;

		font-family: verdana;

		text-align: left

	}

li

	{

		padding:10px;



	}