input[type="radio"] {
    zoom: 2;
    background: transparent;
}
label {
    font-weight: normal;
    font-family: sans-serif;
    vertical-align: top;
    margin-top: 9px;
    color: rgba(248, 248, 248, 0.78);
}
 
input[type="text"],select {
    border: none;
    width: 400px;
    background: rgba(255, 255, 255, 0.33);
}